body{
    background-color: #ffffff;
    text-align: center;
}

h1 {
    color: #6e0323;
    font-family: custom;
    text-align: center;
}

h2 {
    color: #6e0323;
    font-family: custom;
    text-align: center;
}


/*Grid Templates----------------------------------------------------------*/
#template{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    /*Set row height*/
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin:0 auto;
    max-width: 1920px;
}

#template *{
    /* background:rgb(20, 112, 81); */
    padding: 15px;
}

#homegrid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    /*Set row height*/
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin:0 auto;
    max-width: 1920px;
}

#homegrid *{
    /* background:rgb(20, 112, 81); */
    padding: 15px;
}

#aboutgrid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    /*Set row height*/
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin:0 auto;
    max-width: 1920px;
    border-color:black;
    border: solid;
}

#aboutgrid *{
    /* background:rgb(20, 112, 81); */
    padding: 15px;
}


/*Semantic Element Edits--------------------------------------------------*/
/*Template Page*/
#template > header{
    /*goes across all 12 columns*/
    grid-column: 7/13;
}

nav{
    grid-column: 1/7;
}

main{
    grid-column: 3/11;
}

footer{
    grid-column: 1/13;
}

/*Home Page*/
#homegrid > header{
    grid-column: 7/13;
}

/*About Page*/
#aboutgrid > header{
    grid-column: 7/13;
}

#aboutgrid > main{
    grid-column: 3/5;
    grid-row: 2/5;
    border-color:black;
    border: solid;
}

#aboutgrid > footer{
    border-color:black;
    border: solid;
}

.imageone {
    display: grid;
    grid-column: 3/5;
    grid-row: 5/8;
    border-color:black;
    border: solid;
}

.imagetwo {
    display: grid;
    grid-column: 3/5;
    grid-row: 8/11;
    border-color:black;
    border: solid;
}

.imagethree {
    display: grid;
    grid-column: 3/5;
    grid-row: 11/14;
    border-color:black;
    border: solid;
}

.imagefour {
    display: grid;
    grid-column: 3/5;
    grid-row: 14/17;
    border-color:black;
    border: solid;
}

.imagefive {
    display: grid;
    grid-column: 3/5;
    grid-row: 17/20;
    border-color:black;
    border: solid;
}

.bioMain {
    display: grid;
    grid-column: 6/12;
    grid-row: 2/5;
    border-color:black;
    border: solid;
}

.bioOne {
    display: grid;
    grid-column: 6/12;
    grid-row: 5/8;
    border-color:black;
    border: solid;
}

.bioTwo {
    display: grid;
    grid-column: 6/12;
    grid-row: 8/11;
    border-color:black;
    border: solid;
}

.bioThree {
    display: grid;
    grid-column: 6/12;
    grid-row: 11/14;
    border-color:black;
    border: solid;
}

.bioFour {
    display: grid;
    grid-column: 6/12;
    grid-row: 14/17;
    border-color:black;
    border: solid;
}
